@{
    ViewData["Title"] = "Shafeh - Rockland";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Shafeh - Rockland</h1>
    <p>Learn about our services and how we can help you.</p>
    <p>
        <a class="btn btn-primary" asp-area="" asp-controller="PlaceHolders" asp-action="Index">View PlaceHolders</a>
    </p>
</div>
