@model IEnumerable<Shafeh.Models.Kolel>

@{
    ViewData["Title"] = "Kolel List";
}

<h1>Kolel List</h1>

<p>
    <a asp-action="Create">Create New Kolel</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Details", "Kolel", new { id = item.Id }, null)
                </td>
                @if (User.IsInRole("Admin"))
                {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                }
            </tr>
        }
    </tbody>
</table>
